<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.macos" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.sqlite3.macos" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Licensing" version="16.2.0.43" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.Core" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfChart" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="16.2.0.42" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="xamarinmac20" />
</packages>